* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle at center,
    #ff4d4d 0%,
    #8b0000 30%,
    #200020 80%,
    #200020 100%
  );
  color: white;
  min-height: 100vh;
  background-attachment: fixed;
}
